<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>

<body>
    <%- include('../layout/header') %>

    <main>
        <form action="/searchResult" method="POST">
            <fieldset>
                <legend class="legend">Search by title or author</legend> <br>
                <input class="search" type="text" name="searchText" placeholder="Enter a title or author">
                <label class="search" for="">Title
                    <input type="radio" name="search" id="" value="title">
                </label>
                <label class="search" for="">Author
                    <input type="radio" name="search" id="" value="author">
                </label>
                <button clasclass="search" class="button">Search the Google Books API</button>
            </fieldset>
        </form>
    </main>

</body>

</html>