body{
    background: #06c5df;
    max-width: 500px;
    width: 50%;
    margin: auto;
}
header {
    text-align: right;
}
header img {
    width: 8%;
    height: auto;
}

ul{
    text-align: center;
}

#submit {
    display: block;
    margin: auto;
}

.zone1 {
    display: block;
    width: 400px;
}