* {
    box-sizing: border-box;
}

body {
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: #383838;
    color: rgb(255, 253, 253);

}



button {
    background-color: black;
    color: whitesmoke;
}

a {
    color: white;
    text-decoration: none;
}



